{% extends "main.html" %}
  {% block content %}

  <h3>New To Do</h3>
    {% if session.email %}
    <form action="#" method = "post">
      <textarea type="text" name="name" placeholder="Insert To Do" cols=40 rows=1 required></textarea>
      <br>
      <select name="category">
        {% for category in categories %}
          <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
      </select>
      <button type="submit" type="submit">Create</button>
    </form>
    <br>
    <h4> Can't find right category, create new: </h4>
    <form action="/category/new/" method ="post">
      <textarea type="text" name="category_name"
                placeholder="Insert Category Name"
                cols=40 rows=1 required></textarea>
      <br>
      <button type="submit" type="submit">Create</button>
    </form>
  {% else %}
    <p>
      You are not logged in, make sure to Sign In above to fix.
    </p>
  {% endif %}

{% endblock %}