{% extends "main.html" %}

{% block content %}

  <h1>To Dos <a class="json"  href="{{url_for('todosJSON')}}">get json</a></h1>
  {% for category in categories %}
    <h3>{{category.name}}
    <a class="json" href="{{url_for('categoryJSON', category_id = category.id)}}">get json</a>
    {% if session.email == category.user.email %}
        <a href="{{url_for('editCategory', category_id = category.id )}}"><button>Edit</button></a>
        <form class="delete" action="{{url_for('deleteCategory', category_id = category.id )}}" method='post'>
        <input type="submit" value="delete"
          onclick="return confirm('Do you want to delete {{category.name}}?')">
        </form>
    {% endif %}
    </h3>
    <ul>
    {% for todo in todos %}
      {% if category.id == todo.category.id %}
        <li>{{todo.name}}
        {% if session.email == todo.user.email %}
            <a href="{{url_for('editToDo', todo_id = todo.id )}}"><button>Edit</button></a>
            <form class="delete" action="{{url_for('deleteToDo', todo_id = todo.id )}}" method='post'>
              <input type="submit" value="delete"
                onclick="return confirm('Do you want to delete {{todo.name}}?')">
            </form>
        {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endfor %}

{% endblock %}

